target/
out/
out-test/
out-test-ai/

server-data/

*.class
*.log
*.rar

report-*.txt

src/src/
src/main/resources/static/images/backgrounds/edu-background-page1.png

.idea/
*.iml

.vscode/*
!.vscode/launch.json
